[submodule "go-ethereum"]
	path = go-ethereum
	url = git@github.com:Layr-Labs/nitro-go-ethereum-private.git
[submodule "fastcache"]
	path = fastcache
	url = https://github.com/OffchainLabs/fastcache.git
[submodule "arbitrator/wasm-libraries/soft-float/SoftFloat"]
	path = arbitrator/wasm-libraries/soft-float/SoftFloat
	url = https://github.com/OffchainLabs/SoftFloat.git
[submodule "brotli"]
	path = brotli
	url = https://github.com/google/brotli.git
[submodule "arbitrator/wasm-testsuite/testsuite"]
	path = arbitrator/wasm-testsuite/testsuite
	url = https://github.com/WebAssembly/testsuite.git
[submodule "contracts"]
	path = contracts
	url = git@github.com:Layr-Labs/nitro-contracts.git
	branch = eigenda--v3.0.3
[submodule "nitro-testnode"]
	path = nitro-testnode
	url = git@github.com:Layr-Labs/nitro-testnode.git
[submodule "arbitrator/rust-kzg-bn254"]
	path = arbitrator/rust-kzg-bn254
	url = https://github.com/Layr-Labs/rust-kzg-bn254.git
	branch = epociask--better-linting
[submodule "arbitrator/tools/wasmer"]
	path = arbitrator/tools/wasmer
	url = https://github.com/OffchainLabs/wasmer.git
[submodule "arbitrator/langs/rust"]
	path = arbitrator/langs/rust
	url = https://github.com/OffchainLabs/stylus-sdk-rs.git
[submodule "arbitrator/langs/c"]
	path = arbitrator/langs/c
	url = https://github.com/OffchainLabs/stylus-sdk-c.git
[submodule "arbitrator/langs/bf"]
	path = arbitrator/langs/bf
	url = https://github.com/OffchainLabs/stylus-sdk-bf.git
